<div class="container">
  <form action="/">
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        id="nipInput"
        placeholder="NIP"
        aria-label="NIP number"
        aria-describedby="button-addon2"
        value="dfdd"
      />
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" href="/d">
          Check
        </button>
      </div>
    </div>
    <div class="custom-file">
      <input type="file" class="custom-file-input" id="customFile" />
      <label class="custom-file-label" for="customFile">
        Select TXT file
      </label>
    </div>
  </form>
</div>