<div class="container mb-3">
  <form action="/nip/">
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        name="nipInput"
        placeholder="NIP"
        aria-label="NIP number"
        aria-describedby="button-addon2"
      />
      <div class="input-group-append">
        <button type="submit" class="btn btn-outline-secondary">
          Check
        </button>
      </div>
    </div>
    <div class="custom-file mb-3">
      <input type="file" class="custom-file-input" id="customFile" />
      <label class="custom-file-label" for="customFile">
        Select TXT file
      </label>
    </div>
    <div class="card card-body mb-2">
      <a href="" class="btn btn-dark btn-block mb-2">
        Api
      </a>
    </div>
  </form>
</div>