<div class="container">
  <div class="custom-file">
    <input type="file" class="custom-file-input" id="customFile" />
    <label class="custom-file-label" for="customFile">
      Select TXT file
    </label>
  </div>
</div>