<div class="container mb-3">
  <form action="/nip/">
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        name="nipInput"
        placeholder="NIP"
        aria-label="NIP number"
        aria-describedby="button-addon2"
      />
      <div class="input-group-append">
        <button type="submit" class="btn btn-outline-secondary">
          Check NIP
        </button>
      </div>
    </div>
  </form>
  <form
    class="was-validated mb-3"
    action="/"
    method="post"
    enctype="multipart/form-data"
  >
    <div class="custom-file mb-3">
      <input
        type="file"
        class="custom-file-input"
        id="validatedCustomFile"
        required
      />
      <label class="custom-file-label" for="validatedCustomFile">
        Choose file...
      </label>
      <div class="invalid-feedback">
        Select txt file with NIP number
      </div>
    </div>
  </form>
  <div class="card card-body">
    <a href="/" class="btn btn-dark btn-block">
      Refresh data
    </a>
  </div>
</div>
<form class="was-validated">
  <div class="mb-3">
    <label for="validationTextarea">
      Textarea
    </label>
    <textarea
      class="form-control is-invalid"
      id="validationTextarea"
      placeholder="Required example textarea"
      required
    ></textarea>
    <div class="invalid-feedback">
      Please enter a message in the textarea.
    </div>
  </div>
  <div class="custom-control custom-checkbox mb-3">
    <input
      type="checkbox"
      class="custom-control-input"
      id="customControlValidation1"
      required
    />
    <label class="custom-control-label" for="customControlValidation1">
      Check this custom checkbox
    </label>
    <div class="invalid-feedback">
      Example invalid feedback text
    </div>
  </div>
  <div class="custom-control custom-radio">
    <input
      type="radio"
      class="custom-control-input"
      id="customControlValidation2"
      name="radio-stacked"
      required
    />
    <label class="custom-control-label" for="customControlValidation2">
      Toggle this custom radio
    </label>
  </div>
  <div class="custom-control custom-radio mb-3">
    <input
      type="radio"
      class="custom-control-input"
      id="customControlValidation3"
      name="radio-stacked"
      required
    />
    <label class="custom-control-label" for="customControlValidation3">
      Or toggle this other custom radio
    </label>
    <div class="invalid-feedback">
      More example invalid feedback text
    </div>
  </div>
  <div class="form-group">
    <select class="custom-select" required>
      <option value="">
        Open this select menu
      </option>
      <option value="1">
        One
      </option>
      <option value="2">
        Two
      </option>
      <option value="3">
        Three
      </option>
    </select>
    <div class="invalid-feedback">
      Example invalid custom select feedback
    </div>
  </div>
  <div class="custom-file">
    <input
      type="file"
      class="custom-file-input"
      id="validatedCustomFile"
      required
    />
    <label class="custom-file-label" for="validatedCustomFile">
      Choose file...
    </label>
    <div class="invalid-feedback">
      Example invalid custom file feedback
    </div>
  </div>
</form>