<div class="container mb-3">
  <form action="/nip/">
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        name="nipInput"
        placeholder="NIP"
        aria-label="NIP number"
        aria-describedby="button-addon2"
      />
      <div class="input-group-append">
        <button type="submit" class="btn btn-outline-secondary">
          Check NIP
        </button>
      </div>
    </div>
  </form>
  <form
    class="was-validated mb-3"
    action="/"
    method="post"
    enctype="multipart/form-data"
  >
    <div class="custom-file mb-3">
      <input
        type="file"
        class="custom-file-input"
        id="validatedCustomFile"
        required
      />
      <label class="custom-file-label" for="validatedCustomFile">
        Choose file...
      </label>
      <div class="invalid-feedback">
        Select txt file with NIP numbers
      </div>
      <input type="submit" value="Upload" />
    </div>
  </form>
  <form action="/getData">
    <div class="card card-body">
      <a href="/" class="btn btn-dark btn-block">
        Refresh data
      </a>
    </div>
  </form>
</div>