<div class="container mb-3">
  <form class="was-validated" action="/nip/">
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        name="nipInput"
        placeholder="NIP"
        aria-label="NIP number"
        aria-describedby="button-addon2"
      />
      <div class="input-group-append">
        <button type="submit" class="btn btn-outline-secondary">
          Check NIP
        </button>
      </div>
    </div>
  </form>
  <form
    class="was-validated mb-3"
    action="/"
    method="post"
    enctype="multipart/form-data"
  >
    <div class="card card-body mb-3">
      <input
        type="file"
        class="custom-file-input mb-3"
        id="validatedCustomFile"
        aria-describedby="inputGroupFileAddon01"
        name="filename"
        required
      />
      <label class="custom-file-label" for="validatedCustomFile">
        Choose file...
      </label>
      <input type="submit" value="Get data" class="btn btn-dark mb-3" />
    </div>
  </form>
</div>