<div class="container">
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-default">
        NIP
      </span>
    </div>
    <input
      type="text"
      class="form-control"
      aria-label="Sizing example input"
      aria-describedby="inputGroup-sizing-default"
    />
    <button class="btn btn-outline-secondary" type="button" id="button-addon2">
      Check
    </button>
  </div>
  <div class="custom-file">
    <input type="file" class="custom-file-input" id="customFile" />
    <label class="custom-file-label" for="customFile">
      Select TXT file
    </label>
  </div>
</div>