<div class="container">
  <div class="card card-body mb-3">
    NAME:
    {{resData.name}}
    <br />
    NIP:
    {{resData.nip}}
    <br />
    ADDRESS:
    {{resData.workingAddress}}
    <br />
    STATUS:
    {{resData.statusVat}}
  </div>
</div>
<form action="/submit">
  <input type="text" name="nip">
  <button class="btn btn-primary" type="submit"></button>
</form>