<div class="container">
  <div class="card card-body mb-2">
    {{resData.name}}
    <br />
    {{resData.nip}}
    <br />
    {{resData.workingAddress}}
    <br />
    {{resData.statusVat}}
  </div>
</div>